body {
  margin: 0;
  font-family: SunbirdBlack;
  min-height: -webkit-fill-available;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "SunbirdBlack";
  src: local("SunbirdBlack"),
    url("./fonts/Hanoded-Sunbird-Black-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "SunbirdRegular";
  src: local("SunbirdRegular"),
    url("./fonts/Hanoded-Sunbird-Regular.ttf") format("truetype");
  font-weight: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
